html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

body,
button,
input,
select,
textarea {
  font: 12px/16px Verdana, Helvetica, Arial, sans-serif;
}

p {
  width: 603px;
  padding-top: 3px;
  overflow: hidden;
}

.btn {
  width: 102px;
  margin: -10px 10px 10px 0px; /* 上右下左 */
}

.modal-title{
  margin: 10px;
}

#container {
  width: 100%;
  height: 100%;
}

#customPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明背景遮罩 */
  z-index: 99999999;
}

/* 确保模态内容区域不受遮罩影响 */
#customPrompt .modal-dialog {
  position: relative;
  top:50%;
  max-width: 300px;
  /* 你可以根据需要调整宽度 */
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 新增样式以确保模态框内部元素垂直居中 */
#customPrompt .modal-header,
#customPrompt .modal-body,
#customPrompt .modal-footer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center; /* 用于文本居中 */
}

/* 特别处理输入框，保持其正常显示 */
#customPrompt .modal-body input[type="text"] {
  width: 100%; /* 使输入框宽度适应父容器 */
  max-width: 200px; /* 设置最大宽度防止过宽 */
  margin-bottom: 1rem; /* 添加底部外边距 */
}

/* 调整关闭按钮的位置 */
#customPrompt .modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: inherit; /* 保持颜色与文本一致 */
  opacity: 1; /* 确保可见 */
  z-index: 1; /* 确保按钮在标题之上 */
}

.console{
  position: absolute;
  top:15%;
  left: 30%;
}